<!DOCTYPE html>
<html lang="en">
<head>
    <title> Weather App - About Us </title>
    {{>head}}
</head>
<body>
    {{>navbar}}
    <!--  MAIN HEADER END  -->


    <!-- MAIN SECTION START  -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- LEFT SIDE SECTION   -->
                    <div class="col-md-6 col-12 main_header_left">
                       <p>Welcome to About Us Page</p>
                       <h1>This is about us page for Weather App 1 </h1>
                       <a href="/"><button class="">More Detals</button></a>
                    </div>
                    <!-- RIGHT SIDE SECTION   -->
                    <div class="col-md-6 col-12 main_header_right">
                       <figure>
                           <img src="images/about.jpg" class="img-fluid">
                       </figure> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MAIN SECTION END  -->

    <!-- FOOTER SECTION START  -->
    {{>footer}}
    <!-- FOOTER SECTION END  -->
</body>
</html>